/* Hero.module.css */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1.5s ease-out forwards;
}

@keyframes pulse-slow {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.4;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.6;
    }
}

.animate-pulse-slow {
    animation: pulse-slow 6s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 10px rgba(234, 179, 8, 0.4);
    }

    50% {
        box-shadow: 0 0 25px rgba(234, 179, 8, 0.8);
    }
}

.animate-glow {
    animation: glow 3s ease-in-out infinite;
}